openapi: 3.1.0
info:
  title: Avaloq Banking Accounts Payment Status API
  description: Core banking API for account management, transactions, and customer data. Provides access to the Avaloq banking platform for wealth management and digital banking.
  version: 1.0.0
  contact:
    name: Avaloq Developer Portal
    url: https://developer.avaloq.com/
servers:
- url: https://api.avaloq.com
  description: Avaloq Production API
- url: https://sandbox.avaloq.com
  description: Avaloq Sandbox
security:
- bearerAuth: []
tags:
- name: Payment Status
  description: Payment tracking and status
paths:
  /v1/payments/{paymentId}:
    get:
      operationId: getPayment
      summary: Avaloq Get Payment Status
      description: Retrieve the status and details of a specific payment instruction.
      tags:
      - Payment Status
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
      parameters:
      - name: paymentId
        in: path
        required: true
        schema:
          type: string
        description: Payment ID
        example: PAY-001234
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Payment:
      type: object
      description: Payment instruction details
      properties:
        id:
          type: string
          description: Payment ID
          example: PAY-001234
        status:
          type: string
          enum:
          - PENDING
          - PROCESSING
          - COMPLETED
          - REJECTED
          - CANCELLED
          example: COMPLETED
        amount:
          type: number
          example: 5000.0
        currency:
          type: string
          example: EUR
        executionDate:
          type: string
          format: date
          example: '2025-04-20'
        valueDate:
          type: string
          format: date
          example: '2025-04-20'
        endToEndId:
          type: string
          description: End-to-end transaction reference
          example: E2E-001234
    Error:
      type: object
      description: Error response
      properties:
        code:
          type: string
          example: INVALID_REQUEST
        message:
          type: string
          example: Required field missing
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
